.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  border-radius: 16px;
  padding: 28px;
  width: 450px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.3s ease-in-out;
}

.modalTitle {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 20px;
  text-align: center;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputGroup label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.inputGroup input,
.dateInput {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  background: #fff;
}
.memoContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background: white;
}

.memoPrefix {
  background: var(--primary-color-light);
  padding: 10px 12px;
  font-weight: 600;
  color: #333;
  user-select: none;
}

.memoContainer input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 12px;
  font-size: 14px;
  background: transparent;
  color: black;
  appearance: textfield;
}

.memoContainer input::-webkit-inner-spin-button,
.memoContainer input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.cancelBtn {
  background: #ccc;
  color: #333;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  cursor: pointer;
}

.saveBtn {
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.saveBtn:hover {
  background: #4e46e5;
}
.inputGroup input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background: #fff;
  color: black;
  outline: none;
  appearance: textfield;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
