.commissionWrapper {
  padding: 24px;
  background: var(--body-color);
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.commissionHeading {
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color);
  margin-right: auto;
}

.topActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.actionButtons {
  display: flex;
  gap: 10px;
}

.addCommissionBtn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addCommissionBtn:hover {
  background-color: #4e46e5;
}

.iconBtn {
  background: white;
  border: 1px solid #ccc;
  color: black;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.iconBtn:hover {
  border-color: #695cfe;
  color: #695cfe;
}

.filtersWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.searchInput {
  padding: 8px 12px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  width: 220px;
}

.searchInput:focus {
  border-color: #695cfe;
}

.commissionTable {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 10px;
}

.commissionTable th,
.commissionTable td {
  padding: 14px;
  text-align: left;
  color: #333;
}

.commissionTable th {
  background: #f1f1f1;
  font-weight: 600;
}

.commissionTable tbody tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.noDataRow {
  text-align: center;
  padding: 14px;
  font-weight: 500;
  font-size: 14px;
}

.nestedHeading {
  background: #f8f8f8;
  padding: 8px;
}

.nestedHeadingText {
  text-align: center;
  font-weight: 600;
  color: #333;
}

.nestedTable {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

.nestedTable th,
.nestedTable td {
  padding: 10px;
  text-align: left;
}

.nestedTable th {
  background: var(--primary-color-light);
  font-weight: 600;
}
