.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  flex: 1;
  min-width: 320px;
}

.card :focus{
  outline: none;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  color: #0f172a;
  margin-bottom: 4px;
}

.subtext {
  color: #64748b;
  font-size: 14px;
  margin-bottom: 12px;
}
